<!DOCTYPE html>
<html>
<head>
    <title>Video Feed</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Omegle-Clone</h1>
    <code>Atharv Kulkarni</code>
    <hr>
    <p id="status">Video Streaming Status:</p>
    <img id="video" src="https://i.imgflip.com/5bj7o4.gif" alt="Webcam Feed">
    <br>
    <img id="video" src="https://i.imgflip.com/5bj7o4.gif" alt="Webcam Feed">
    <br>
    <button onclick="toggleVideo()">
        <span id="toggle-text">Start</span>
    </button>
    <div id="chat-wrapper">
        <textarea id="chat"></textarea>
        <input type="text" id="message" placeholder="Enter your message">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script>
        var video = document.getElementById('video');
        var isPlaying = false;
        var intervalId;

        function toggleVideo() {
          if (!isPlaying) {
            document.getElementById("status").style.color = 'green';
            document.getElementById("status").innerHTML = "Video Streaming Status: True"
            video.src = "{{ url_for('video_feed') }}";
            isPlaying = true;
            document.getElementById("toggle-text").innerHTML = "Stop";
          } else {
            document.getElementById("status").style.color = 'red';
            document.getElementById("status").innerHTML = "Video Streaming Status: False"
            clearInterval(intervalId);
            video.src = "https://i.imgflip.com/5bj7o4.gif";
            isPlaying = false;
            document.getElementById("toggle-text").innerHTML = "Start";
          }
        }

        var chat = document.getElementById('chat');
        var messageInput = document.getElementById("message");

        chat.addEventListener('keydown', function(event) {
          if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault();
            var message = this.value.trim();
            if (message !== '') {
              this.value = ''; // clear the input
              var chatbox = document.getElementById('chat');
              chatbox.value += 'User: ' + message + '\n';
            }
          }
        });

        messageInput.addEventListener('keydown', (event) => {
          if (event.key === 'Enter') {
            event.preventDefault();
            sendMessage();
          }
        });

        function sendMessage() {
          var chatbox = document.getElementById("chat");
          var message = messageInput.value.trim();
          var username = "User123"; // replace with the user's actual name

          if (message) {
            chatbox.value += username + ": " + message + "\n";
            messageInput.value = "";
          }
        }
    </script>
</body>
</html>
