<!DOCTYPE html>
<html>
<head>
    <title>Video Feed</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Omegle-Clone</h1>
    <code>Atharv Kulkarni</code>
    <hr>
    <p id="status">Status:</p>
    <img id="video" src="https://i.imgflip.com/5bj7o4.gif" alt="Webcam Feed">
    <br>
    <button onclick="startVideo()">Start</button>
    <button onclick="stopVideo()">Stop</button>
    <textarea id="chat" placeholder="Type your message here..."></textarea>

    <script>
        var video = document.getElementById('video');
        var isPlaying = false;
        var intervalId;

        function startVideo() {
            if (!isPlaying) {
                document.getElementById("status").style.color = 'green';
                document.getElementById("status").innerHTML = "Status: True"
                video.src = "{{ url_for('video_feed') }}";
                isPlaying = true;
            }
        }

        function stopVideo() {
            if (isPlaying) {
                document.getElementById("status").style.color = 'red';
                document.getElementById("status").innerHTML = "Status: False"
                clearInterval(intervalId);
                video.src = "https://i.imgflip.com/5bj7o4.gif";
                isPlaying = false;
            }
        }
    </script>
</body>
</html>
